/* @group generic */

#main_content div.list div.category_list h2, #main_content div.list div.item_list h2  {
    display: none;
}

#main_content div.item_list p {
    margin: 0em 0em 0.8em 0em;
}

#main_content div.item_list p.image,
#main_content div.category_list p.image {
    float: left;
    margin: 0em 1em 1em 0em;
}

#main_content ul.product_images {
    margin: 0em;
    overflow: hidden;
}

#main_content ul.product_images li {
    float: left;
    background: none;
    padding: 0em;
    margin: 0em 1em 0em 0em;
}

#main_content .basket input.quantity {
    width: 20px;
}

#main_content .basket_actions {
    position: relative;
    height: 25px;
}

#main_content .basket_actions input {
    position: absolute;
    left: 0;
}

#main_content .basket_actions a {
    position: absolute;
    right: 0;
    font-size: 11px;
    background:#FFFFFF none repeat scroll 0 0;
    border:2px solid #E6E7E8;
    cursor:pointer;
    padding:2px;
    text-decoration: none;
}

#main_content .basket_actions a:hover {
    background-color: #58595B;
    color: #FFF;
}

#main_content .basket .go_list a {
    font-size: 11px;
}

div.no-products {
    clear: left;
}

#additional_content_my_cart ul li {
    background: none;
    margin: 0em;
    padding: 0em;
}

/* @end */

/* @group item_list */

.ecommerce_actions {
    clear: left;
}

.ecommerce_actions span,
.basket table label strong,
.order_details .box dt
{
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

p.price strong.old_price {
    text-decoration: line-through;
    font-size: 0.8em;
}

p.price strong.sales_price {
    font-size: 1em;
}


div.item_list {
    clear: left;
}

div.item_list h2 {
    margin: 0em;
}

#main_content div.item_list ul {
    margin-left: 0em;
}

#main_content div.item_list ul li {
    overflow: hidden;
    background: none;
    padding: 0em;
    margin: 0em 0em 1em 0em;
    border-bottom: 1px solid #C5C5C5;
}

#main_content div.item_list form.add_to_cart_form {
    margin: 0px;
}

#main_content div.item_list .ecommerce_actions {
    width: 100%;
    clear: left;
    float: none;
    height: auto;
    margin: 0em 0em 0.6em 0em;
    padding: 0;
}

#main_content div.item_list li.no_image .ecommerce_actions {
    width: 100%;
    float: left;
}

#additional_content div.item_list {
    margin: 0em 0em 1em 0em;
}

#additional_content div.item_list h3 {
    background: none;
}

#additional_content div.item_list form.add_to_cart_form {
    clear: left;
}

#additional_content div.item_list h2 {
    font-size: medium;
    margin-bottom: 10px;
}

#additional_content div.item_list ul li {
    margin: 0em 0em 1em 0em;
    border: 1px solid #E4E4E4;
    padding: 1em 1em 0em 1em;
}

#additional_content div.item_list ul li h3 {
    margin: 0em 0em 1em 0em;
    font-size: 12px;
}

#additional_content div.item_list ul li p {
    float: left;
}

#additional_content div.item_list ul li p.price {
}

/* @end */

/* @group category_list */

#main_content div.category_list {
    
}

#main_content div.category_list ul {
    margin: 0em;
    overflow: hidden;
}

#main_content div.category_list ul li {
    margin: 1em 2em 1em 0em;
    width: 160px;
    float: left;
    padding: 0em;
    background: none;
}

#main_content div.category_list ul.plain_list li {
    background: none;
    padding: 0em;
    margin: 0em 0em 0em 1.2em;
    width: auto;
    float: none;
    list-style-type: disc;
    list-style-position: outside;
}

#main_content div.category_list ul li h3 {
    height: 1.2em;
    line-height: 1.1em;
    overflow: hidden;
    margin: 0em 0em 0.4em 0em;
}

#main_content div.category_list ul.plain_list li h3 {
    height: auto;
    overflow: visible;
}

#main_content div.category_list ul.plain_list li p.image {
    display: none;
}

/* @end */

/* @group ORDER DETAILS */

div#typology.order div.boxLine {
    clear: both;
    overflow: hidden;
}

div#typology.order div.box {
    float: left;
    margin: 1em 30px 3em 0em;
    width: 44%;
}


div#typology.order div.box_comments {
    clear: both;
}

div#typology.order div.box dt {
    display: none;
}

div#typology.order div.box dd {
    margin-bottom: 0.2em
}

/* @end */

/* @group Item images */

div#item_images {
	overflow: hidden;
	width: 100%;
	margin: 0em 0em 15px 0em;
}

div#item_images ul.image_list {
	width: auto;
	float: none;
	clear: left;
	margin: 0em;
}

div#item_images ul.image_list li {
	background: none;
	padding: 0em;
	float: left;
	margin: 0em 4px 0em 0em;
}

div#item_images.vproduct p#medium_image {
	width: 420px;
	float: left;
}

div#item_images.vproduct p#medium_image a img {
	display: block;
	margin: 0em auto;	
}

div#item_images.vproduct ul.image_list {
	float: right;
	width: 123px;
	margin: 0em 5px 0em 0em;
	clear: none;
}

div#item_images.vproduct ul.image_list li {
	float: none;
	margin: 0em;
}

/* @end */
